---

---

<footer class="footer">
  <div class="container container-footer">
    <div class="menu-footer">
        <div class="contact-info">
            <p class="title-footer">Información de Contacto</p>
            <ul>
                <li>
                    Dirección: Ejército entre Avaroa y Alejandro del Carpio, Ciudad Tarija, Bolivia
                </li>
                <li>Teléfono: 69306654</li>
                <li>EmaiL: ElReyDelBolo@support.com</li>
            </ul>
            <div class="Iconos-Contact">
                <span class="facebook">
                    <a href="https://www.facebook.com/rey.delbolo"><i class="fa-brands fa-facebook-f"></i></a>
                </span>
                <span class="twitter">
                    <i class="fa-brands fa-twitter"></i>
                </span>
                <span class="whatsapp">
                    <a href="https://api.whatsapp.com/send/?phone=59169306654&text&type=phone_number&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a>
                </span>
                <span class="tiktok">
                    <i class="fa-brands fa-tiktok"></i>
                </span>
                <span class="instagram">
                    <a href="https://www.instagram.com/rey_del_bolo?igshid=OGQ5ZDc2ODk2ZA%3D%3D"><i class="fa-brands fa-instagram"></i></a>
                </span>

            </div>
        </div>

      <div class="Informacion">
        <p class="title-footer">Información</p>
        <ul>
          <li><a href="#ModalPrivacity">Politicas de Privacidad</a></li>

          <li><a href="#ModalConditions">Términos y condiciones</a></li>
        </ul>
      </div>

      <div class="Payment">
        <p class="title-footer">Métodos de Pago</p>

        <div class="content">
          <p>Ahora puedes pagar de las siguientes formas:</p>
          <br />
          <div class="Iconos-Payment">
            <span class="visa">
                <i class="fa-brands fa-cc-visa"></i>            
            </span>
            <span class="mastercard">
              <i class="fa-brands fa-cc-mastercard"></i>
            </span>
            <span class="paypal">
              <i class="fa-brands fa-paypal"></i>
            </span>
            <span class="money">
              <i class="fa-solid fa-money-bill"></i>
            </span>
          </div>
        </div>
      </div>

      <div class="copyright">
        <p>&copy;2023 El Rey Del Bolo</p>
      </div>
    </div>
  </div>
  <style>
    .footer {
      background-color: #7cc77a;
    }

    .container-footer {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      padding: 4rem;
    }

    .menu-footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      justify-items: center;
    }

    .title-footer {
      font-weight: 600;
      font-size: 2.1rem;
      text-transform: uppercase;
    }

    .contact-info,
    .Informacion,
    .Mi_Cuenta,
    .Payment {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .contact-info ul,
    .Informacion ul,
    .Mi_Cuenta ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .contact-info ul li,
    .Informacion ul li,
    .Mi_Cuenta ul li {
      list-style: none;
      color: #fff;
      font-size: 1.7rem;
      font-weight: 200;
    }

    .Informacion ul li a,
    .Mi_Cuenta ul li a {
      text-decoration: none;
      color: #fff;
      font-weight: 300;
    }

    .Informacion ul li a:hover,
    .Mi_Cuenta ul li a:hover {
      color: #151515;
    }

    .Iconos-Contact,.Iconos-Payment{
      display: flex;
      gap: 1.5rem;
    }

    .Iconos-Contact span,
    .Iconos-Payment span {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Iconos-Contact span i {
      color: #fff;
      font-size: 1.2rem;
    }

    .Iconos-Payment .fa-money-bill {
      color: #08b64b;
      font-size: 1.2rem;
    }

    .Iconos-Payment .fa-paypal {
      color: #3b5998;
      font-size: 1.2rem;
    }

    .Iconos-Payment .fa-cc-mastercard {
      color: rgb(255, 0, 0);
      font-size: 1.2rem;
    }

    .Iconos-Payment .fa-cc-visa {
      color: #3b5998;
      font-size: 1.2rem;
    }

    .facebook {
      background-color: #3b5998;
    }

    .twitter {
      background-color: #00acee;
    }

    .whatsapp {
      background-color: #08b64b;
    }

    .tiktok {
      background-color: #000000;
    }

    .instagram {
      background: linear-gradient(
        #405de6,
        #833ab4,
        #c13584,
        #e1306c,
        #fd1d1d,
        #f56040,
        #fcaf45
      );
    }

    .visa {
      background-color: #ffffff;
    }

    .mastercard {
      background-color: rgb(255, 255, 255);
    }

    .paypal {
      background-color: #ffffff;
    }

    .money {
      background-color: #ffffff;
    }

    .content p {
      font-size: 1.4rem;
      color: #fff;
      font-weight: 300;
    }

    .content i {
      display: flex;
      gap: 1.5rem;
    }

    .content button:hover {
      background-color: #f5f9f0;
      color: #7cc77a;
    }

    .copyright {
      display: flex;
      justify-content: space-between;
      padding-top: 2rem;

      border-top: 1px solid #d2b495;
    }

    .copyright p {
      font-weight: 400;
      font-size: 1.6rem;
    }

    .copyright {
      font-size: 30px;
    }
  </style>
</footer>
