---
// Importar los componentes necesarios
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionInfo from '../components/SectionInfo.astro';
import Banner from '../components/Banner.astro';

// Obtener los datos de la API
let data = [];

try {
const response = await fetch('https://apimocha.com/reydelbolo/articles');


if (!response.ok) {
throw new Error(`HTTP error! status: ${response.status}`);
}

data = await response.json();
} catch (error) {
console.error('Error fetching or parsing data:', error);
}
---

<Layout title="Index">
	<main class="bg-green-100">
		<Banner/>
		<SectionInfo/>
		<section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 py-12 mx-8">
			{
			data.map((product: any) => (
			<Card product={product} />
			))
			}
		</section>
	</main>
</Layout>

