---
import Layout from '../../layouts/LayoutAdmin.astro';
import Footer from '../../components/admin/Footer.astro';
const response = await fetch('https://apimocha.com/reydelboloapi/users');
const users = await response.json();
---

<Layout title="Login">
	<div class="min-h-screen flex flex-col justify-center bg-[#D9F5DC] p-4">
		<div class="flex-grow flex items-center justify-center">
			<div class="w-[350px] bg-white border border-[#467B52] rounded-lg shadow-xl text-black p-6">
				<div id="login-content">
					<h2 class="text-2xl font-bold text-[#2D5834] mb-2">Iniciar sesi칩n</h2>
					<p class="text-[#5C7551] mb-6">Ingresa tus credenciales para acceder</p>
					<form id="login-form" class="space-y-4">
						<div>
							<label for="username" class="block text-[#2D5834] mb-1">Nombre de usuario</label>
							<input type="text" id="username" placeholder="Ingresa tu usuario"
								class="w-full bg-[#D9F5DC] text-[#2D5834] border border-[#467B52] rounded-md p-2 placeholder-[#5C7551]" />
						</div>
						<div>
							<label for="password" class="block text-[#2D5834] mb-1">Contrase침a</label>
							<input type="password" id="password" placeholder="Ingresa tu contrase침a"
								class="w-full bg-[#D9F5DC] text-[#2D5834] border border-[#467B52] rounded-md p-2 placeholder-[#5C7551]" />
						</div>
						<button type="submit"
							class="w-full bg-[#2D5834] hover:bg-[#467B52] text-white font-bold py-2 px-4 rounded transition duration-300">
							Ingresar
						</button>
					</form>
					<div id="error-message" class="mt-4 text-red-500 hidden"></div>
				</div>
			</div>
		</div>
	</div>
	<script define:vars={{ users }}>
		document.getElementById('login-form').addEventListener('submit', async (event) => {
			event.preventDefault();
			
			const username = document.getElementById('username').value;
			const password = document.getElementById('password').value;
			const errorMessage = document.getElementById('error-message');
			
			const user = users.find(u => u.username === username && u.password === password);
			
			if (user) {
				const userString = JSON.stringify(user);
  				// Guardar o sobrescribir el elemento sessionUser en localStorage
  				localStorage.setItem('sessionUser', userString);
				// Credenciales correctas, redirigir a panel.astro
				window.location.href = '../admin/panel';
			} else {
				// Credenciales incorrectas, mostrar mensaje de error
				errorMessage.textContent = 'Usuario o contrase침a incorrectos';
				errorMessage.classList.remove('hidden');
			}
		});
	</script>
</Layout>
