---
import Photo from "./base/Photo.astro"
---
<section class="py-12 bg-green-100">
    <div class="container mx-auto px-4 text-center">
        <Photo src="/src/assets/banner-1.webp" title="Banner de Tienda" clases="flex mx-auto max-w-full lg:max-w-[100vw] h-auto rounded-lg shadow-lg transform transition-transform duration-500 hover:scale-105" />
    </div>
</section>