<header>
    <div class="bg-white">
      <div class="flex justify-between items-center py-4" >
        <div class="flex items-center gap-2 ml-4">
          <i class="fa-solid fa-headset text-3xl"></i>
          <div class="flex flex-col">
            <span class="text-sm text-gray-900">Soporte al cliente</span>
            <span class="text-sm text-gray-900">64325119</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
            <a href="http://localhost:4321" class="no-underline"><img src="../img/logo1.png" alt="logo" class="w-24 h-20"></a>
          <h1 class="text-center text-2xl uppercase font-bold text-gray-900">
            <a href="http://localhost:4321" class="no-underline">EL REY DEL BOLO!</a>
          </h1>
        </div>
        <div class="flex items-center gap-2 cursor-pointer">
          <a href="img/logo1.png" class="text-black text-3xl pr-2 border-r border-gray-300">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
          <div class="max-w-36 min-w-28 h-16 bg-green-600 text-white flex items-center justify-center mr-2">
            <p class="text-center">CARRITO DE COMPRAS</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="bg-green-600 shadow-md">
      <div class="flex justify-between items-center py-4 px-8">
        <ul class="flex gap-6">
          <li><a href="http://localhost:4321" class="text-gray-800 hover:text-black">INICIO</a></li>
          <li><a href="/Nosotros" class="text-gray-800 hover:text-black">NOSOTROS</a></li>
          <li><a href="" class="text-gray-800 hover:text-black">TIENDA</a></li>
          <li><a href="" class="text-gray-800 hover:text-black">CONTACTO</a></li>
        </ul>
        <form class="ml-8 flex items-center border-2 border-white rounded-3xl w-full max-w-[300px]">
            <input type="search" placeholder="Buscar.." class="pl-6 text-left rounded-l-3xl py-1 w-full">
            <button class="bg-green-600 text-white p-1 rounded-r-3xl hover:bg-green-500">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
          
      </div>
    </nav>
  </header>
  