---
import { Icon } from "astro-icon/components";
---

<div class="flex flex-col sm:flex-row justify-between mb-6 space-y-4 sm:space-y-0">
  <div class="relative w-full sm:w-auto">
    <input type="text" id="searchInput" placeholder="Buscar productos..."
      class="bg-white text-gray-900 border border-gray-300 rounded-md p-2 pl-10 w-full sm:w-64" />
    <Icon name="mdi:magnify" class="absolute left-3 top-2.5 text-gray-500 w-5 h-5" />
  </div>
  <button id="addProductBtn"
    class="bg-green-800 hover:bg-green-600 text-white font-bold py-2 px-4 rounded transition duration-300 flex items-center justify-center">
    <Icon name="mdi:plus" class="w-5 h-5 mr-2" />
    Añadir Producto
  </button>
</div>