<div class="bg-white border border-gray-300 rounded-lg shadow-lg text-gray-900 p-6 overflow-x-auto">
  <table class="w-full min-w-max">
    <thead>
      <tr class="text-left border-b border-gray-300">
        <th class="pb-2">ID</th>
        <th class="pb-2">Artículo</th>
        <th class="pb-2">Descripción</th>
        <th class="pb-2">Precio</th>
        <th class="pb-2">Acciones</th>
      </tr>
    </thead>
    <tbody id="productsTableBody">
      <!-- Las filas de la tabla se insertarán dinámicamente aquí -->
    </tbody>
  </table>
</div>